<!-- views/recover.ejs -->

<%- include('partials/head'); %>

<%- include('partials/body-div_opening'); %>

<%- include('partials/header'); %>

<div class="row pt-3 pb-5">
  <div class="col"></div>
  
  <div class="col-sm-10">
    <h1>How to recover a cartridge</h1>
    <br>
    <p class="ms-3 bg-dark text-white">Games made by E.V.I. seem to, sooner or later, become unplayable due to cartridge decay but there is a simple way to recover most of the data stored a cartridge, and that is by using the sequence "0213021302134567" while the game is running but some data may be corrupted doing this</p>
  </div>

  <div class="col"></div>
</div>

<%- include('partials/footer'); %>
  
<%- include('partials/body-div_closing'); %>
